
.checkbox-label {
  display: flex;
  align-items: center;
  cursor: pointer;
  font-size: 14px;
  color: #374151; 
  user-select: none;
}

.checkbox-input {
  appearance: none; 
  width: 16px;
  height: 16px;
  border: 1px solid #d1d5db;
  border-radius: 2px;
  margin-right: 12px;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: all 0.2s;
}


.checkbox-input:checked {
  background-color: #111827;
  border-color: #111827;
}

.checkbox-input:checked::after {
  content: '✓';
  color: white;
  font-size: 12px;
}
